@charset "UTF-8";

@font-face {
	font-family: 'SEBANG_Gothic_Bold';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff')
		format('woff');
	font-weight: 700;
	font-style: normal;
}

.chatting-area {
	width: 1280px;
	height: 500px;
	margin: 0 auto;
	/* border: 1px solid red; */
	display: flex;
}

.chatroom-text {
	font-family: 'SEBANG_Gothic_Bold';
	font-size: 30px;
    margin-bottom: 10px;
}

.chatting-list {
	width: 40%;
	/* border: 1px solid black; */
	list-style: none;
	overflow: auto;
	align-items: center;
}

.chatting-item {
	width: 90%;
	display: flex;
	padding: 10px 10px; /*위아래, 왼쪽오른쪽 */
	/* border: 1px solid blue; */
	cursor: pointer;
}

.chatting-item:hover {
	background-color: #D9D9D9;
}

.chatting-item.select{
    background-color: #D9D9D9;
 }

.chatting-item div {
	height: 100%;
	text-align: center;
}

.item-header {
	width: 20%;
	aspect-ratio: 1/1;
	border-radius: 70%;
	border: 1px solid black;
	overflow: hidden;
	flex-shrink: 0; /* 사진 크기가 자동으로 줄어들지 않도록 함 */
}

.receiver-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.item-body {
	width: 80%;
	padding: 5px 20px; /* 위아래, 왼쪽오른쪽 */
	display: flex;
	flex-direction: column; /* 수직 방향으로 정렬 */
}

.item-body p {
	display: flex;
	align-items: center;
}

.name-count {
	display: flex;
	align-items: center; /* 수직 방향 정렬 */
	margin-bottom: 3px; /* name-count와 message-container 사이 간격 */
}

.receiver-nickname {
	font-family: 'SEBANG_Gothic_Bold';
	font-size: 20px;
}

.unread-count {
	font-family: 'SEBANG_Gothic_Bold';
	font-size: 10px;
	width: 25px;
	height: 25px;
	display: flex; /* 수평-수직으로 정렬할 수 있도록 함 */
	justify-content: center; /* 수평 방향 정렬 */
	align-items: center; /* 수직 방향 정렬 */
	border-radius: 70%;
	background-color: #DCF343;
	color: #4949E9;
	margin-left: auto;
}

.message-container {
	width: 330px;
	font-family: 'SEBANG_Gothic_Bold';
	font-size: 10px;
	display: flex;
	/* border: 2px solid green; */
	text-align: left;
	margin-bottom: 3px;
}

.recent-message {
	color: #7E7E7E;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.send-time {
	color: gray;
	white-space: nowrap;
	margin-left:auto;
}

.chatting-content {
	width: 60%;
	/* border: 1px solid gray; */
	overflow: auto;
	display: flex;
	flex-direction: column;
	font-family: 'SEBANG_Gothic_Bold';
}

.content-header{
	height:30%;
	display:flex;
	flex-direction: column;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
}

.receiver-nickname{
	font-size:20px;
	margin-bottom:5px;
}

.selling-info{
	display:flex;
	flex-direction: row;
}

.price-name{
	display:flex;
	flex-direction: column;
	margin-left: 10px;
}

.selling-price{
	font-size: 20px;
	margin-bottom:10px;
}

.selling-name{
	font-size: 20px;
	color: #7E7E7E;
	margin:0;
}

.selling-image {
	width: 8%;
	aspect-ratio: 1/1;
	/* border: 1px solid black; */
	object-fit: contain;
	overflow: hidden;
	flex-shrink: 0;
}

.payEdit{
	font-family: 'SEBANG_Gothic_Bold';
	background-color:#ABC3FF;
	color:#FFFFFF;
	border:none;
	margin-left:auto;
	margin-right:30px;
	margin-top:auto;
	height: 50%;
	font-size: 15px;
	cursor: pointer;
}

.content-body{
	height:67%;
	flex-direction: column;
	padding:10px;
	font-family: 'SEBANG_Gothic_Bold';
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	overflow-x:hidden;
	overflow-y: auto;
}

.message-list{
	width:100%;
	overflow:auto;
	list-style:none;
	flex-direction: column;
	margin-left:20px;
	
}

.my-chat{
	text-align: right;
	flex-direction: row;
	align-items: center;
	margin-right:50px;
}

.target-chat{
	flex-direction: row;
	align-items: center;
}

.chat{
	font-size: 15px;
	max-width: 300px;
	border-radius: 10px;
	border: 1px solid #000000;
	padding: 10px;
	word-break: break-all;
    white-space: pre-wrap;
    display: inline-block;
    margin: 5px;
}

.chatDate{
	font-size: 10px;
}

.chatting-input{
	height:8%;
	display:flex;
	align-items: center;
	flex-direction: row;
}

.chatting-input img {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius:10px;
	background:#F1F1F1;
	padding:5px;
}

.input-photo{
	margin-right:auto;
	margin-left:30px;
}

.input-area{
	margin: 10px;
	width:550px;
	height:30px;
	background-color: #F1F1F1;
	border-radius:10px;
	border:none;
}

.input-send{
	margin-left:auto;
	margin-right:50px;
}

.chattingModal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	overflow: hidden;
	/* display: none; */
}

.modal-content  {
	position: absolute;
    top: 50%;
    left: 50%;
	width: 500px;
	height: 200px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-60%);
	font-size: 30px;
	padding: 60px;
}

.current-input {
	width: 100%;
	height: 50px;
	margin-top: 40px;
	
	/* border: 1px solid red; */
}

.current-input input {
	font-size: 17px; 
	width: 100%;
	height: 100%;
	border: none;
	border-bottom: 1px solid silver;
	outline: none;
}

.current-price{
	color: #4949E9;
}

.chModalBtn {
	width: 70%;
    margin: 40px auto 0;
}

.submit-price, .cancel {
    top:75%;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.submit-price{
	border:none;
	border-radius: 10px;
	background-color: #4949E9;
	color: #FFFFFF;
	margin-right: 20px;
}

.cancel{
	border-radius: 10px;
	border: 1px solid #4949E9;
	background-color: #FFFFFF;
	color: #4949E9;
}

.modal-content2  {
	position: absolute;
    top: 50%;
    left: 50%;
	width: 300px;
	height: 100px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-60%);
	font-size: 30px;
	padding: 60px;
	text-align: center; 
	line-height: 100px; 
}

.current-input {
	width: 100%;
	height: 50px;
	margin-top: 40px;
	
	/* border: 1px solid red; */
}

.current-input input {
	font-size: 17px; 
	width: 100%;
	height: 100%;
	border: none;
	border-bottom: 1px solid silver;
	outline: none;
}

.info{
	margin-top:10px;
	font-size: 15px; 
	color:#000000;
}

.current-account{
	margin-top:20px;
	margin-bottom:10px;
	color: #4949E9;
}

.current-input3 {
	width: 100%;
	height: 50px;
}

.current-input3 input {
	font-size: 17px; 
	width: 100%;
	height: 100%;
	border: none;
	border-bottom: 1px solid silver;
	outline: none;
}

.chModalBtn3 {
	width: 70%;
    margin: 30px auto 0;
}
