@charset "UTF-8";

.main_container {
	width: 1280px;
	margin: 0 auto;
}

.text {
	width: 100%;
}

h1 {
	display: inline-block;
	margin: 16px 0px 5px 0px;
}

p {
	display: inline-block;
	margin: 16px 0px 5px 0px;
}

#searchInput {
	text-align: center;
	width: 500px;
	height: 30px;
	padding: 0px 0px;
	margin-bottom: 16px;
}

.btn_small {
	height: 30px;
	background: #4949e9;
	color: white;
	border: none;
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

.type_list {
	display: flex;
	gap: 10px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 16px;
	flex-wrap: wrap;
}

.radioContainer {
	width: 120px;
	height: 30px;
	list-style: none;
}

.radioLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 100%;
	cursor: pointer;
	border: 2px solid #D3D3D3;
	border-radius: 9px;
}

.radioContainer input[type="radio"]:checked+label {
	background-color: #ABC3FF;
}

table {
	border-top: 3px solid #979797;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border-bottom: 2px solid #D9D9D9;
	padding: 10px;
}

tr {
	height: 50px;
}

.type {
	width: 25%;
	text-align: center;
}

.title {
	width: 75%;
}

.question:hover {
	background-color: #D2DF51;
	cursor: pointer;
}
.question.select {
	background-color: #D2DF51;
}


.answer {
	background-color: #EFEFEF;
	height: 80px;
}

.message {
	display: block;
	text-align: center;
	width: 100%;
}

.btn {
	display: flex;
	justify-content: center;
}

.btn_submit {
	cursor: pointer;
	width: 80px;
	height: 30px;
	background: #4949e9;
	border: none;
	border-radius: 5px;
	color: white;
}

.searchStyle {
	display: none;
}