 @charset "UTF-8";
 
 @charset "UTF-8";

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SEBANG_Gothic_Bold';
    /* white-space: nowrap; */
}

.modal {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* 변경 */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-60%);
}

.m_body {
    height: 80%;
    padding: 40px;
    box-sizing: border-box;
}

/* .modal_title {
    font-size: 18px;
    color: gray;
    font-weight: 500;
} */

.close_btn {
    /* font-size: 20px; */
    color: rgb(139, 139, 139);
    font-weight: 900;
    cursor: pointer;
    width: 20px;
    float: right;
    margin-top: -10px;
}

.modal_label {
    padding-top: 10px;
}

.input_box {
    width: 95%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
}

.log_find {
    /* width: 315px; */
    width: 100%;
    height: 30px;
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(189, 189, 189);

    /* border: 1px solid red; */
}

.log_find div {
    margin: 0 5px 0 5px;
}

.modal_btn {
    /* width: 315px; */
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 5px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    width: 100%;
    height: 30px;
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(63, 81, 161);

    /* border: 1px solid red; */
}

.cancle {
    background-color: white;
    color: black;
}

.save {
    background-color: rgb(63, 81, 161);
    color: white;
}

.kakao_save {
    background-color: rgb(254,229,0);
    color: rgb(24,22,0);
}

.selDiv {
    width: 240px;
    height: 70px;
    margin: 5px auto;
    text-align: center;
    font-size: 30px;

    /* border: 1px solid blue; */
}

.selDiv div {
    width: 170px;
    height: 70px;
    display: inline-block;
    /* padding: 7px 0; */
    /* cursor: pointer; */

    /* border: 1px solid red; */
}

.selDiv img {
    width: 100%;
    height: 100%;
}

.selectedArea {
    display: none;
}

.selectedArea.show {
    display: block;
}

.topSel {
    border: 1px solid gray;
    border-radius: 15px;
}

#signupImgArea {
    height: 130px;
}

#signupImgArea input {
    width: 180px;
}

.btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &: hover {
        background: rgb(77, 77, 77);
        color: #fff;
    }
}

#imgFile {
    display: none;
}

#signupImgArea .imgLabel {
    display: inline-block;
    vertical-align: top;
    width: 170px;
}

/*
.modal {
	position: absolute;
	top: 0;
	left: 0;
	변경
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
}

.modal.show {
	display: block;
}

.modal_body {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 320px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-60%);
}

.m_body {
	height: 80%;
	padding: 20px;
}

.modal_title {
	font-size: 18px;
	color: gray;
	font-weight: 500;
}

.close_btn {
	font-size: 20px;
	color: rgb(139, 139, 139);
	font-weight: 900;
	cursor: pointer;
	width: 20px;
	float: right;
}

.modal_label {
	padding-top: 10px;
}

.input_box {
	width: 100%;
	border: 1px solid rgb(189, 189, 189);
	border-radius: 5px;
	height: 30px;
}

.modal_btn {
	width: 315px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 5px;
	margin-top: 20px;
	cursor: pointer;
}

.cancle {
	background-color: white;
	color: black;
}

.save {
	background-color: rgb(50, 77, 158);
	color: white;
}

.selDiv {
	width: 240px;
	height: 55px;
	margin: 15px auto;
	text-align: center;
	font-size: 30px;
}

.selDiv div {
	display: inline-block;
	padding: 7px 0;
	width: 110px;
	cursor: pointer;
}

.selectedArea {
	display: none;
}

.selectedArea.show {
	display: block;
}

.topSel {
	border: 1px solid gray;
	border-radius: 15px;
}

#signupImgArea {
	height: 130px;
}

#signupImgArea input {
	width: 180px;
}

.btn-upload {
	width: 150px;
	height: 30px;
	background: #fff;
	border: 1px solid rgb(77, 77, 77);
	border-radius: 10px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center; &: hover {background : rgb( 77, 77, 77); color: #fff;}
}

#imgFile {
	display: none;
}

#signupImgArea .imgLabel {
	display: inline-block;
	vertical-align: top;
	width: 170px;
} */