@charset "UTF-8";

.mypage_container {
	width: 1280px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

/* ---------------nav--------------- */
.menu {
	height: 50px;
	display: flex;
	margin: 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #C1C1C1;
	border-top: 1px solid #C1C1C1;
}

.menu li {
	width: 33.3%;
	height: 100%;
	line-height: 50px;
	list-style: none;
	text-align: center;
}

.menu li a {
	display: block;
	color: black;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #ABC3FF;
	cursor: pointer;
}

.selected {
	background-color: #4949E9;
	color: white;
}

/* ---------------salelist--------------- */
.checkbox {
	height: 21px;
	padding: 0px 40px 0px 40px;
	margin: 16px 0px;
}

.btn {
	width: 95px;
	height: 25px;
	background-color: white;
	color: #787878;
	border: 1px solid #EAEAEA;
}

.sub_menu {
	display: flex;
}

.sub_menu p {
	display: inline-block;
	width: 100px;
	justify-content: center; 
	border: 1px solid pink;
}

.message {
	/* display: block; */
	display: none; 
	width : 100%;
	text-align: center;
	width: 100%;
}

.product {
	width: 200px;
	height: 100%;
	display: inline-block;
	margin: 0px 20px 0px 20px;
	/* border: 1px solid green;  */
}

.product img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 15%;
	box-shadow: 0 5px 10px -5px lightgray;
}

.product img:active {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 15%;
	box-shadow: 0 5px 5px -5px lightgray;
}

.product p {
	width: 100%;
	height: 50px;
	margin: 5px 0px;
	object-fit: cover;
}
/* μƒμ„Έν•„ν„° */
#btn_search{
	float: right;
}
#search {
	
	border: 1px solid lightgray;
	display: none;
}

#search.show {
	display: block;
}

.radioContainer {
	width: 30%;
	height: 30px;
	border: 1px solid #D3D3D3;
	margin-bottom: 15px;
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

.type {
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.radioLabel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.radioContainer input[type="radio"]:checked+label {
	background-color: #ABC3FF;
}

#btn_submit {
	cursor: pointer;
	width: 100px;
	height: 30px;
	background: #4949e9;
	border: none;
	border-radius: 5px;
	color: white;
	margin: 0px 5px 0px 5px;
	font-size: 20px;
}