@charset "UTF-8";

.mypage_container {
	width: 1280px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

#deal {
	border-top: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
	display: flex;
	height: 55px;
	width: 100%;
	padding: 0px 0px 0px 0px;
	background-color: #3F51A1;
	color: white;
}

#deal li {
	list-style: none;
	width: 50%;
	height: 100%;
	line-height: 55px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
}

.select_deal {
	color: #DCF343;
}
/* ---------------nav--------------- */
.menu {
	margin: 10px 0px 20px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	width: 470px;
}

.menu li {
	width: 140px;
	height: 100%;
	line-height: 40px;
	list-style: none;
	text-align: center;
	cursor: pointer;
	border: 2px solid #3F51A1;
	border-radius: 15px;
	margin: 0px 5px;
	display: inline-block;
	box-sizing: border-box;
}

.menu li:not(.select):hover {
	background-color: #ABC3FF;
	cursor: pointer;
}

.select {
	background-color: #3F51A1;
	color: white;
}

.sub_menu {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 20px 640px;
}

.sub_menu select {
	width: 150px;
	height: 40px;
	font-size: 18px;
	border-radius: 10px;
}

.sub_menu select option {
	width: 200px;
	height: 40px;
	font-size: 18px;
}

#dealContainer {
	height: 750px;
	overflow-y: auto;
}
/* ---------------조회--------------- */
.checkbox {
	height: 21px;
	padding: 0px 40px 0px 40px;
	margin: 16px 0px;
}

.btn {
	width: 95px;
	height: 25px;
	background-color: white;
	color: #787878;
	border: 1px solid #EAEAEA;
}

.message {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0px 20px;
	gap: 47px;
	
	
}
.statusChangeMenu {
    position: absolute;
    top: 10px; /* 원하는 위치에 맞게 조정 */
    right: 10px; /* 원하는 위치에 맞게 조정 */
    z-index: 3; /* 다른 요소 위에 표시되도록 */
}
.product {
	position: relative; /* 자식 요소인 .statusChangeMenu의 기준점을 설정 */
	background: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 200px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	padding: 10px 5px;
}

.product:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.product_img_div {
	margin-bottom: 30px;
	position: relative;
}

.product_img {
	width: 190px;
	height: 190px;
	position: relative;
	z-index: 1;
}

.product_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	position: relative;
	z-index: 1;
	margin: 5px;
}

.photo_status {
	width: 40px;
	position: absolute;
	margin-left: 145px;
	z-index: 2;
	padding: 15px 10px;
}

.product p {
	margin: 5px 0px;
	object-fit: cover;
	padding: 0px 10px;
}

.rankProdIntro {
	color: gray;
	font-size: 12px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.dealList{
	margin-bottom: 20px;
}
#productPrice {
	display: inline-block;
}

#s_statusVal_div {
	width: 100%;
}

#s_statusVal {
	width: 30%;
	font-size: 12px;
	background-color: #ABC3FF;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
	margin-left: 130px;
}
/* 이미지 흑백 처리 */
.product_img.gray-scale img {
	filter: grayscale(100%);
	position: relative;
}

/* 상세필터 */
#btn_search {
	height: 21px;
	margin: 16px 0px;
	float: right;
}

#search {
	height: 100%;
	display: none;
	border: 1px solid gray;
}

#search.show {
	display: block;
}

.radioContainer {
	width: 30%;
	height: 30px;
	margin-bottom: 15px;
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

.type {
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.radioLabel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.radioContainer input[type="radio"]:checked+label {
	background-color: #ABC3FF;
}

#date_input {
	display: none;
}

#btn_submit {
	cursor: pointer;
	width: 80px;
	height: 25px;
	background: #4949e9;
	border: none;
	border-radius: 5px;
	color: white;
	margin: 0px 5px 0px 5px;
	font-size: 15px;
	float: right;
}
/*찜내역 */
#deleteJjim {
	margin: 5px;
	display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 20px 680px;
}

.btn_jjim {
	width: 100px;
	height: 40px;
	margin-left: 10px;
	background-color: white;
	border: 2px solid orangered;
	color: orangered;
	font-size: 15px;
	border-radius: 13px;
}

/* dropdown*/
.dropdown-menu {
	width: 100px;
	height: 90px;
	display: none;
	list-style: none;
	position: absolute;
	z-index: 2;
	top: 50px;
	text-align: center;
	padding: 5px;
	margin-left: 90px;
	border-radius: 8px;
}

.dropdown-menu li {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	
}

.dropdown-menu li:hover {
	width: 100%;
	background-color: lightgray;
	cursor: pointer;
}

.sub-dropdown-menu {
	width: 100px;
	height: 90px;
	display: none;
	list-style: none;
	position: absolute;
	z-index: 2;
	top: 50px;
	padding: 5px;
	margin-left: 90px;
	border-radius: 8px;
}

.sub-dropdown-menu li {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.sub-dropdown-menu li:hover {
	background-color: lightgray;
	cursor: pointer;
}

.productBanReason {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 190px;
	height: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.productBanReason p {
	background-color: white;
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	color: orangered;
}

#deal_auc {
	display: none;
}