@charset "UTF-8";

.mypage_container {
	width: 1280px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

#deal {
	border-top: 1px solid #C1C1C1;
	display: flex;
}

#deal li {
	list-style: none;
	width: 50%;
	text-align: center;
	cursor: pointer;
}
/* ---------------nav--------------- */
.menu {
	height: 50px;
	display: flex;
	margin: 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #C1C1C1;
	border-top: 1px solid #C1C1C1;
}

.menu li {
	width: 33.3%;
	height: 100%;
	line-height: 50px;
	list-style: none;
	text-align: center;
	cursor: pointer;
}

.menu li:not(.select):hover {
	background-color: #ABC3FF;
	cursor: pointer;
}

.select {
	background-color: #4949E9;
	color: white;
}

/* ---------------조회--------------- */
.checkbox {
	height: 21px;
	padding: 0px 40px 0px 40px;
	margin: 16px 0px;
}

.btn {
	width: 95px;
	height: 25px;
	background-color: white;
	color: #787878;
	border: 1px solid #EAEAEA;
}

.sub_menu {
	border-bottom: 1px solid #C1C1C1;
}

.sub_menu ul {
	display: inline-block;
}

.sub_menu li {
	float: left;
	list-style: none;
	text-align: center;
	width: 100px;
	color: #9CA3AF;
	cursor: pointer;
}

.select_sub {
	color: black !important;
	font-size: 17px;
}

.message {
	display: block;
	width: 100%;
	text-align: center;
	width: 100%;
}

.list {
	width: 100%; display : flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0px 0px 0px 0px;
	margin: 10px 0px;
	display: flex;
}

.product {
	width: 200px;
	height: 100%;
	margin: 0px 20px 0px 20px;
	/* border: 1px solid green; */
}

.product_img {
	width: 200px;
	height: 200px;
	object-fit: contain;
	border-radius: 15%;
	box-shadow: 0 5px 10px -5px lightgray;
	position: relative;
	z-index: 1;
}

.photo_status {
	width: 40px;
	position: absolute;
	float: right;
	z-index: 2;
}

.product_img:active {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 15%;
	box-shadow: 0 5px 5px -5px lightgray;
}

.product p {
	width: 100%;
	/* height: 50px; */
	margin: 5px 0px;
	object-fit: cover;
}

#s_statusVal {
	width: 30%;
	font-size: 12px;
	background-color: #ABC3FF;
	text-align: center;
}
/* 상세필터 */
#btn_search {
	height: 21px;
	margin: 16px 0px;
	float: right;
}

#search {
	height: 100%;
	display: none;
	border: 1px solid gray;
}

#search.show {
	display: block;
}

.radioContainer {
	width: 30%;
	height: 30px;
	margin-bottom: 15px;
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

.type {
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.radioLabel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.radioContainer input[type="radio"]:checked+label {
	background-color: #ABC3FF;
}

#date_input {
	display: none;
}

#btn_submit {
	cursor: pointer;
	width: 80px;
	height: 25px;
	background: #4949e9;
	border: none;
	border-radius: 5px;
	color: white;
	margin: 0px 5px 0px 5px;
	font-size: 15px;
	float: right;
}
/*찜내역 */
#deleteJjim {
	width: 100%;
}

#dropdown{
	width: 70px;
	height: 50px;
	display: none;
	list-style: none;
	position: absolute;
	z-index: 2;
	background-color: white;
}
#dropdown li{
	width: 100%;
}
#dropdown li:hover{
	background-color: lightgray;
	cursor: pointer;
}
#sub_dropdown{
	width: 70px;
	height: 50px;
	display: none;
	list-style: none;
	position: absolute;
	z-index: 2;
	background-color: white;
}
#sub_dropdown li:hover{
	background-color: lightgray;
	cursor: pointer;
}
