@charset "UTF-8";

.mypage_container {
	width: 1280px;
	height: auto;
	margin: 0 auto;
}

.top {
	height: 200px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.btn {
	width: 95px;
	height: 25px;
	background-color: white;
	color: #787878;
	border: 1px solid #EAEAEA;
}

.profile {
	width: 30%;
	height: 180px;
	margin-top: 50px;
	text-align: left;
}

.profileImg img {
	width: 150px;
	height: 150px;
	margin-top: 50px;
	object-fit: cover;
	border-radius: 15%;
}

.profileName {
	height: 50px;
}

.profile h2 {
	display: inline-block;
}

.intro {
	width: 100%;
	border: 1px solid #CECECE;
	border-radius: 10px;
	height: 100px;
	text-align: center;
}

textarea {
	width: 95%;
	height: 60px;
	margin: 5px 0px 0px;
	border: none;
	resize: none;
}

#btn-intro {
	float: right;
}

.rating {
	width: 15%;
	height: 100px;
	margin-top: 100px;
	border: 1px solid #CECECE;
	border-radius: 10px;
}

.rating p {
	margin: 5px 0px;
}

.rating img {
	width: 30px;
}

.account {
	width: 25%;
	height: 100px;
	margin-top: 100px;
	border: 1px solid #CECECE;
	border-radius: 10px;
}

.account p {
	margin: 5px 0px;
}

.bankImg {
	width: 30px;
	height: 30px;
}

.bankName {
	display: inline-block;
}

.accNum {
	display: inline-block;
}

#btn-account {
	float: right;
}

.top-right {
	width: 15%;
	height: 120px;
	margin-top: 80px;
	text-align: right;
}

.qna {
	text-decoration: none;
	color: #8B8B8B;
}

.point {
	text-align: center;
	height: 100px;
	border: 1px solid #CECECE;
	border-radius: 10px;
}

.point p {
	margin: 5px 0px;
	display: inline-block;
}

#pointImg {
	width: 10px;
}

#btn-point {
	cursor: pointer;
	width: 150px;
	height: 30px;
	background: #4949e9;
	color: white;
	border: none;
	border-radius: 10px;
}