@charset "UTF-8";

html, body, section {
	height: 100%;
}

* {
	color: black;
}

.profile_container {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border: 1px solid blue;
}

/*-------------공통요소--------------*/
form {
	padding: 10px 10px;
}

/*--------------왼쪽 영역--------------*/
.left {
	width: 30%;
	height: 100%;
	box-shadow: 10px 0px 5px -2px rgba(0, 0, 0, .16);
	border: 1px solid red;
}

#profileImg {
	width: 210px;
	height: 210px;
	margin: 0 auto;
	position: relative;
}

.photo {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

.photo-edit {
	width: 40px;
	position: absolute;
	z-index: 2;
	bottom: 10px;
	right: 10px;
}

#nickName {
	font-size: 30px;
	text-align: center;
	margin: 20px auto;
	
}

#btn_photo {
	width: 80px;
}

/*--------------오른쪽 영역--------------*/
.right {
	width: 60%;
	height: 100%;
	border: 1px solid green;
	text-align: center;
}

.right-box {
	width: 80%;
	border: solid 1px #e3e9ed;
	box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
	border-radius: 12px;
	margin: 35px auto;
}

#drawal {
	height: 30px;
	line-height: 30px;
	color: #acacac;
}

#drawal:hover {
	cursor: pointer;
	color: #4949e9;
}

.item {
	margin: 16px 0px;
	display: flex;
	gap: 15px;
	/* border: 1px solid pink; */
}

.file {
	display: none;
}

.right p {
	width: 80px;
	display: inline-block;
	margin: 0px 0px;
	/* border: 1px solid red; */
}

input {
	width: 210px;
	height: 25px;
	border: 1px solid #acacac;
	border-radius: 7px;
	margin-right: 0;
	color: #989898;
}

.readonly {
	background-color: #D9D9D9;
	color: #989898;
}

.btn {
	cursor: pointer;
	width: 80px;
	height: 30px;
	background: #4949e9;
	border: none;
	border-radius: 5px;
	color: white;
}

.address {
	width: 210px;
}

.address input {
	margin: 0px 0px 16px 0px;
}

.submit {
	text-align: center;
}