@charset "UTF-8";
.main_container{
	width: 1280px;
	margin: 0 auto;
	border: 1px solid pink;
}
.qnaboard{
	width: 100%;
	border: 1px solid purple;
	display: flex;
	justify-content: space-between;
	margin: 30px 0px;
}
.qna{
	width: 50%;
	border: 1px solid blue;
}
.qna_item{
	display: flex;
	gap: 60px;
	border: 1px solid yellow;
}
.qna li{
	display:inline-block;
	width: 30%;
	height: 30px;
	border: 1px solid #D3D3D3;
	text-align: center;
	margin-bottom: 15px;
}
.qna ul{
	width: 450px;
	height: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	border: 1px solid red;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.qna p{
	height: 100%;
	margin-top: 0;
	display:inline-block;
	border: 1px solid red;
}
textarea{
	width: 450px;
	height: 200px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px;
}
#input_file {
	display: none;
}
#img_preview {
	width: 50px;
	height: 50px;
    border-radius: 5px;
}

.faq{
	width: 40%;
	margin: 0px;
	border: 1px solid green;
}
.faq li{
	border: 1px solid pink;
	list-style: no
}
#img_q {
	width: 30px;
	height: 30px;
}
.btn{
	width: 100%;
	text-align: center;
}
.btn_submit{
	cursor: pointer;
	width: 80px;
	height: 30px;
	background: #4949e9;
	border: none;
	border-radius: 5px;
	color: white;
}
.btn_cancel{
	cursor: pointer;
	width: 80px;
	height: 30px;
	border: 1px solid #4949e9;
	border-radius: 5px;
	color: #4949e9;
	background-color: white;
}