@charset "UTF-8";

.main_container {
	width: 1280px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
/*--------------왼쪽 영역--------------*/
.left {
	width: 600px;
}

/*-------1:1 Q&A-------*/
#note {
	border: 1px solid #979797;
	margin-bottom: 16px;
}

#note p {
	font-size: 13px;
}

h1 {
	border-bottom: 2px solid #979797;
	margin: 0px 0px 0px 0px;
	padding: 16px 0px;
}

/*-------1:1 문의하기-------*/
#qna {
	border: 1px solid #979797;
}

#qna_title {
	width: 450px;
	height: 30px;
	box-sizing: border-box;
}

.qna_item {
	width: 100%;
	display: flex;
	gap: 60px;
	margin-top: 10px;
}

.qna_item p {
	width: 75px;
	height: 100%;
	margin-top: 0;
	display: inline-block;
}

/*----문의유형----*/
.radioContainer {
	width: 130px;
	height: 30px;
	border: 1px solid #D3D3D3;
	cursor: pointer;
	box-sizing: border-box;
}

input[type="radio"] {
	display: none;
}

.type {
	width: 450px;
	height: 100%;
	display: flex;
	flex-flow: wrap;
	gap: 30px;
	/* justify-content: space-between; */
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.radioLabel {
	width: 130px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	box-sizing: border-box;
}

.radioContainer input[type="radio"]:checked+label {
	background-color: #ABC3FF;
}

#qnaOptionContent {
	display: block;
	width: 100%;
}

textarea {
	width: 450px;
	height: 200px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px;
	box-sizing: border-box;
}

#input_file {
	display: none;
}

#img_preview, #preview {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.btn {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px; /* 텍스트의 세로 정렬 */
}

.btn div {
	display: inline-block;
}

.btn_submit {
	cursor: pointer;
	width: 150px;
	height: 50px;
	background: #4949e9;
	border: none;
	border-radius: 5px;
	color: white;
	margin: 0px 5px 0px 5px;
}

.btn_cancel {
	cursor: pointer;
	width: 150px;
	height: 50px;
	border: 1px solid #4949e9;
	border-radius: 5px;
	color: #4949e9;
	background-color: white;
	margin: 0px 5px 0px 5px;
}

/*--------------오른쪽 영역--------------*/
.right {
	width: 45%;
}

/*-------BEST FAQ-------*/
#faq {
	margin: 0px;
	height: 400px;
	border: 1px solid #979797;
	overflow-y: auto;
}

#faq::-webkit-scrollbar {
	display: block !important;
}

#faq::-webkit-scrollbar-thumb {
	background-color: #ccc; /* Color of the scrollbar thumb */
	border-radius: 5px; /* Rounded corners */
}

#faq::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Color of the scrollbar track */
}

#faq a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#faq a:hover {
	color: #4949e9;
}

.header {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid gray;
	display: flex;
	align-items: center;
}

.header:hover {
	background-color: #DCF343;
	cursor: pointer;
}

.header.select {
	background-color: #DCF343;
}

#img_q {
	width: 30px;
	height: 30px;
}

.qnaTitle {
	width: 80%;
}

.content {
	display: none;
	border-bottom: 1px solid gray;
	background-color: #EFEFEF;
	padding: 10px 10px;
}

/*-------나의 문의-------*/
#myQna {
	border: 1px solid #979797;
	height: 400px;
	overflow-y: auto;
}

#myQna::-webkit-scrollbar {
	display: block !important;
}

#myQna::-webkit-scrollbar-thumb {
	background-color: #ccc; /* Color of the scrollbar thumb */
	border-radius: 5px; /* Rounded corners */
}

#myQna::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Color of the scrollbar track */
}

.ansStatus {
	width: 70px;
	height: 25px;
	display: flex;
	background-color: #4949e9;
	color: white;
	align-items: center;
	justify-content: center;
}

.qnaContent {
	border: 1px solid green;
}

.qnaFile {
	width: 200px;
}

.qnaAns {
	border: 1px solid green;
}