@charset "UTF-8";

body {
	
}

main {
	
}

.mypage_container {
	width: 1280px;
	margin: 0 auto;
}

.top {
	height: 300px;
	text-align: center;
	display: flex;
	margin-left: 20px;
	justify-content: space-between;
}

.btn {
	width: 95px;
	height: 25px;
	background-color: white;
	color: #787878;
	border: 1px solid #EAEAEA;
}

.profile {
	width: 630px;
	/* height: 100%; */
	/* margin-top: 30px;*/
	/* 	margin-left: 40px;  */
	bottom: 0px;
	text-align: left;
}

.profileImg img {
	width: 250px;
	height: 250px;
	margin-top: 50px;
	object-fit: cover;
	border-radius: 15%;
	
}

.profile h2 {
	display: inline-block;
	margin-top: 50px;
}

.self-intro {
	width: 630px;
}

.self-intro p {
	resize: none;
	margin: 0px 0px 0px 0px;
	bottom: 0px;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	width: 610px;
	height: 180px;
	padding: 10px;
}

#btn-intro {
	float: right;
}

#rating {
	width: 25%;
	height: 200px;
	margin-top: 100px;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	box-sizing: border-box;
}

#rating p {
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
}

#rating img {
	width: 35px;
}

#summing_container {
	text-align: center;
	margin-top: -10px;
}

#summing_container div {
	display: inline-block;
	width: 120px;
}

.summing {
	margin: 20px auto;
}

.summing p {
	margin: 10px auto !important;
}

.summing_title {
	color: rgb(63, 81, 161);
}


#rating_title {
	font-size: 22px;
}

.account {
	width: 25%;
	height: 100px;
	margin-top: 100px;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
}

.account p {
	margin: 5px 0px;
}

.bankImg {
	width: 30px;
	height: 30px;
}

.bankName {
	display: inline-block;
}

.accNum {
	display: inline-block;
}

#btn-account {
	float: right;
}

.top-right {
	width: 15%;
	height: 120px;
	margin-top: 80px;
	text-align: right;
}

.qna {
	text-decoration: none;
	color: #8B8B8B;
}

.point {
	height: 100px;
	text-align: center;
	border: 1px solid #CECECE;
	border-radius: 10px;
}

.point p {
	margin: 5px 0px;
	display: inline-block;
}

.point img {
	width: 10px;
}

.btn-point {
	cursor: pointer;
	width: 150px;
	height: 30px;
	background: #3F51A1;
	color: white;
	border: none;
	border-radius: 10px;
}

/* ---------------nav--------------- */
.menu {
	height: 50px;
	display: flex;
	margin: 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #C1C1C1;
}

.menu li {
	width: 33.3%;
	height: 100%;
	line-height: 50px;
	list-style: none;
	text-align: center;
}

.menu li a {
	display: block;
	color: black;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #ABC3FF;
	cursor: pointer;
}

.selected {
	background-color: #3F51A1;
	color: white;
}

/* ---------------salelist--------------- */
.checkbox {
	height: 21px;
	padding: 0px 40px 0px 40px;
	margin: 16px 0px;
}

.btn {
	width: 95px;
	height: 25px;
	background-color: white;
	color: #787878;
	border: 1px solid #EAEAEA;
}

.sub_menu {
	display: flex;
}

.sub_menu li {
	width: 100px;
	list-style: none;
	text-align: center;
	border: 1px solid pink;
}

.list {
	height: 540px;
	padding: 0px 0px 0px 0px;
	/* 	overflow: auto; */
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}

.product {
	width: 200px;
	height: 270px;
	display: inline-block;
	margin: 0px 20px 0px 20px;
}

.product img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 15%;
	box-shadow: 0 10px 10px -5px lightgray;
}

.product p {
	width: 100%;
	height: 50px;
	object-fit: cover;
}

#sellprodtitle {
	margin-top: 50px;
	margin-left: 20px;
	font-size: 25px;
}

.sellerprodintro {
	text-align: center;
}