@charset "UTF-8";

#main_container {
	width: 1280px;
	margin: 0 auto;
}

.classifyTitle {
	font-size: 25px;
}

.rankProdDiv {
	width: 170px;
    padding: 10px;
    margin: 7px 23px 7px 0;
    display: inline-block;
}

.rankProdTitle {
	height: 40px;
}

.rankProdDiv:nth-child(6n) {
	margin-right: 0;
}

.rankProdDiv:hover {
	background: #ececec;
}

.recommandProdDiv:hover {
	background: #ececec;
}

.nowRegProdDiv:hover {
	background: #ececec;
}

.product_img:hover {
	cursor: pointer;
}

.rankProdTitle:hover {
	cursor: pointer;
}

.rankProdDiv img {
	width: 95%;
	height: 160px;
	margin: 0 2.5%;
}

.rankProdDiv>p {
	margin: 5px 0;
}

.rankProdIntro {
	color: gray;
	font-size: 12px;
	height: 30px;
}

#rankListArea {
	width: 100%;
}

#recommandListArea {
	position: relative;
	/* height: 290px; */
	text-align: center;
}

.prevBtn {
	cursor: pointer;
	position: absolute;
	top: 18%;
	left: 0;
	background: #d3d3d330;
	padding: 17px;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	top: 18%;
	right: 0;
	background: #d3d3d330;
	padding: 17px;
}

.recommandProdDiv {
	display: inline-block;
	width: 170px;
	margin: 7px 23px 7px 0;
	padding: 10px;
}

.recommandProdDiv:last-child {
	margin-right: 0;
}

.recommandProdDiv img{
	width: 170px;
    height: 170px;
    border-radius: 5px;
}

#prodRecommandArea {
	margin-top: 60px;
	position: relative;
	/* height: 370px; */
}

.swiper-pagination {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.recommandTitle {
	height: 40px;
	font-size: 15px;
}

.recommandPrice {
	
}


.recommandUpTime {
	color: lightgray;
    font-size: 12px;
}

.pagination-bullet {
	width: 4px;
	height: 4px;
	background-color: hsla(0, 4%, 5%, .16);
	margin: 0 2px;
	border: 0;
	border-radius: 8px;
    transition: all .3s ease-in-out;
    opacity: 1;
    display: inline-block;
}

.pagination-bullet-active {
	width: 24px;
	background-color: #000;
}

#prodNowRegArea {
	margin-top: 60px;
	position: relative;
	/* height: 370px; */
}

#nowRegListArea {
	position: relative;
    /* height: 290px; */
    text-align: center;
}

.nowRegProdDiv {
	display: inline-block;
	width: 170px;
	margin: 7px 23px 7px 0;
	padding: 10px;
}

.nowRegProdDiv:last-child {
	margin-right: 0;
}

.nowRegProdDiv img{
	width: 170px;
    height: 170px;
    border-radius: 5px;
}

.nowRegProdTitle {
	height: 40px;
	font-size: 15px;
}

.nowRegProdPrice {
	
}

.nowRegProdUpTime {
	color: lightgray;
    font-size: 12px;
}