<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.chatting">
	<select id="getRoomList" parameterType="String" resultType="com.shinhan.heehee.dto.response.ChatRoomDTO">
		select room_id as id,
		(
		select max(m.content) keep(dense_rank first order by m.send_time desc)
		from chat_message m
		where m.room_id=r.room_id) as lastContent,
		to_char((select max(send_time) from chat_message m where m.room_id=r.room_id),
		'MM.DD') sendTime,
		COALESCE(NVL2((SELECT seller FROM chat_room r2
             WHERE r.room_id = r2.room_id 
             AND r2.seller = #{userId}),
            r.buyer, r.seller), '알 수 없음') receiverId,
		(select count(*) from chat_message m
		where m.room_id=r.room_id
		and m.read_check='N'
		and m.sender!=#{userId}) unreadCount,
		COALESCE(NVL2((SELECT seller FROM chat_room r2
                      WHERE r.room_id = r2.room_id 
                      AND r2.seller = #{userId}),
                     (SELECT hh_user.nick_name 
                      FROM hh_user 
                      WHERE hh_user.id = r.buyer),
                     (SELECT hh_user.nick_name 
                      FROM hh_user 
                      WHERE hh_user.id = r.seller)),
                '알 수 없음') receiverNickname,
		COALESCE(NVL2((SELECT seller FROM chat_room r2
                      WHERE r.room_id = r2.room_id 
                      AND r2.seller = #{userId}),
                     (SELECT hh_user.profile_img 
                      FROM hh_user 
                      WHERE hh_user.id = r.buyer),
                     (SELECT hh_user.profile_img 
                      FROM hh_user 
                      WHERE hh_user.id = r.seller)),
                '알 수 없음') receiverImg,
		(select max(msg_id) as max_message_no
		from chat_message m
		where r.room_id = m.room_id) as maxMessageNo
		from chat_room r
		where seller=#{userId} or buyer=#{userId}
		order by maxMessageNo desc nulls last
	</select>
</mapper>