<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.chatting">
<!-- 채팅방 목록에 필요한 정보 불러오기 -->
	<select id="getRoomList" parameterType="String" resultType="com.shinhan.heehee.dto.response.ChatRoomDTO">
		select room_id as id,
		(select m.content from chat_message m
		                  where m.msg_id=(select max(msg_id)
		                                  from chat_message m
		                                  where r.room_id = m.room_id)) as lastcontent,
		to_char((select max(send_time) from chat_message m where m.room_id=r.room_id),
		'MM/DD') sendtime,
		COALESCE(NVL2((SELECT seller FROM chat_room r2
             WHERE r.room_id = r2.room_id 
             AND r2.seller = #{userId}),
            r.buyer, r.seller), null) receiverid,
		(select count(*) from chat_message m
		where m.room_id=r.room_id
		and m.read_check='N'
		and m.sender!=#{userId}) unreadcount,
		COALESCE(NVL2((SELECT seller FROM chat_room r2
                      WHERE r.room_id = r2.room_id 
                      AND r2.seller = #{userId}),
                     (SELECT hh_user.nick_name 
                      FROM hh_user 
                      WHERE hh_user.id = r.buyer),
                     (SELECT hh_user.nick_name 
                      FROM hh_user 
                      WHERE hh_user.id = r.seller)),
                null) receivernickname,
		COALESCE(NVL2((SELECT seller FROM chat_room r2
                      WHERE r.room_id = r2.room_id 
                      AND r2.seller = #{userId}),
                     (SELECT hh_user.profile_img 
                      FROM hh_user 
                      WHERE hh_user.id = r.buyer),
                     (SELECT hh_user.profile_img 
                      FROM hh_user 
                      WHERE hh_user.id = r.seller)),
                null) receiverimg,
		(select max(msg_id) as max_message_no
		from chat_message m
		where r.room_id = m.room_id) as maxmessageno
		from chat_room r
		where seller=#{userId} or buyer=#{userId}
		order by maxmessageno desc nulls last
	</select>
	
<select id="getRoomProduct" parameterType="hashMap" resultType="com.shinhan.heehee.dto.response.RoomProductDTO">
   select
      COALESCE(NVL((SELECT product_seq from sell_product s
                             where r.sell_seq=s.product_seq)
                            ,(SELECT product_seq from auc_product a
                            where r.auc_seq=a.product_seq))
                      ,null) AS productSeq,
     COALESCE(NVL2((SELECT product_seq from sell_product s
                             where r.sell_seq=s.product_seq)
                             ,'sell', 'auction')
                     , null) AS productType,
   	  COALESCE(NVL((SELECT img_name from img_files i
                 where r.sell_seq=i.table_pk and i.img_cate_seq=2 and rownum=1),
                 (SELECT img_name from img_files i 
                  where r.auc_seq=i.table_pk and i.img_cate_seq=3 and rownum=1)),
            null) AS productImg,
 	  coalesce(nvl2((select sell_seq from chat_room r2 where r2.room_id=r.room_id),
                  (SELECT product_price from sell_product s where r.sell_seq=s.product_seq),
                  (SELECT max(bid_price) from auction_history a where r.auc_seq=a.auc_prod_seq)),null) as productPrice,
  	  coalesce(nvl2((select sell_seq from chat_room r2 where r2.room_id=r.room_id),
                  (SELECT ARTICLE_TITLE from sell_product s where r.sell_seq=s.product_seq),
                  (SELECT auction_TITLE from auc_product a where r.auc_seq=a.product_seq)),null)
      as productName,
      coalesce(nvl2((select sell_seq from chat_room r2 where r2.room_id=r.room_id),
                  (SELECT STATUS from pay_history p where r.sell_seq=p.sell_seq and r.buyer=p.buyer_id),
                  (SELECT STATUS from pay_history p where r.auc_seq=p.auc_seq and r.buyer=p.buyer_id)),null)
      as payStatus,
      NVL((select pro_status from sell_product s
                              where r.sell_seq=s.product_seq), null) AS sellProStatus,
      NVL((select deal from sell_product s
                              where r.sell_seq=s.product_seq), null) AS dealStatus,
  	  COALESCE(NVL2((SELECT seller from chat_room r2 where r2.room_id=r.room_id and r2.seller=#{loginUserId}),
              '판매자', '구매자'),
             null) AS status
	from chat_room r
	where r.room_id=#{chatRoomId}
</select>

<!-- 채팅방 메시지 불러오기 -->
<select id="getRoomMessage" parameterType="int" resultType="com.shinhan.heehee.dto.response.RoomMessageDTO">
    select msg_id msgId, content, to_char(send_time,'HH24:MI') as sendTime, read_check as readCheck, sender
    from chat_message m
    where m.room_id=#{chatRoomId}
    order by msgId
</select>

<!-- 로그인 유저 은행 및 계좌, 포인트 정보 불러오기 -->
<select id="getRoomUser" parameterType="String" resultType="com.shinhan.heehee.dto.response.RoomUserDTO">
    select u.ACCOUNT_NUM, u.USER_POINT,
    (select bank from bank_kind b where b.bank_seq=u.bank_seq) bank
    from hh_user u
    where id=#{loginUserId}
</select>

<!-- 메시지 읽음 체크 -->
<update id="updateReadCheck">
	update chat_message
	set read_check='Y'
	where room_id=#{chatRoomId} and sender!=#{loginUserId}
</update>

<!-- 가격 수정 -->
<update id="updatePrice">
	update sell_product
	set product_price=#{newPrice}
	where sell_product.product_seq=#{productSeq}
</update>

<!-- 포인트 충전 시 포인트 값 업데이트 -->
<update id="updatePoint">
	update hh_user
	set user_point=#{newPoint}
	where id=#{loginUserId}
</update>

<!-- 약속 잡기 / 결제 시 상품 상태 업데이트 -->
<update id="updateReserve">
	update sell_product
	set pro_status='예약중'
	where product_seq=#{productSeq}
</update>

<!-- 약속 취소 시 상품 상태 업데이트 -->
<update id="cancelReserve">
	update sell_product
	set pro_status='판매중'
	where product_seq=#{productSeq}
</update>

<!-- 약속 잡기 / 결제 시 거래내역 데이터 추가 -->
<insert id="insertDeal">
	<selectKey keyProperty="dealSeq" order="BEFORE" resultType="int">
         SELECT deal_seq.NEXTVAL FROM DUAL
     </selectKey>
     insert into deal_history values(#{dealSeq}, #{buyerId}, null, null, null, #{productSeq}, null)
</insert>

<!-- 약속 취소 시 거래내역 데이터 삭제 -->
<delete id="deleteDeal">
    delete from deal_history
    where buyer_id=#{buyerId} and sell_seq=#{productSeq}
</delete> 

<!-- 판매자와 채팅 클릭 시 채팅방 생성 -->
<insert id="insertChatRoom">
    insert into chat_room
    values(seq_room.nextval, #{loginUserId}, #{sellerId}, null, #{sellSeq});
</insert>

<!-- 이미지 없이 텍스트만 보낸 경우 -->
<insert id="insertMessage" parameterType="com.shinhan.heehee.dto.request.ChatMessageDTO">
	<selectKey keyProperty="msgId" order="BEFORE" resultType="int">
         SELECT SEQ_MESSAGE.NEXTVAL FROM DUAL
     </selectKey>
     insert into chat_message values(#{msgId}, #{roomId}, #{sender}, #{receiver}, #{content}, SYSDATE, #{readCheck})
</insert>

<!-- 이미지를 보낸 경우 (1)메세지 저장 / content: [img] 이미지 이름 -->
<insert id="insertChatMsg" parameterType="com.shinhan.heehee.dto.request.ChatMessageDTO">
     <selectKey keyProperty="msgId" order="BEFORE" resultType="int">
         SELECT SEQ_MESSAGE.NEXTVAL FROM DUAL
     </selectKey>
     insert into chat_message values(#{msgId}, #{roomId}, #{sender}, #{receiver}, #{content}, TO_DATE(#{sendTime}, 'YYYY/MM/DD HH24:mi:ss'), #{readCheck})
</insert>

<!-- 이미지를 보낸 경우 (2)이미지 저장 / content: 폴더/이미지이름 -->
<insert id="insertChatImg" parameterType="com.shinhan.heehee.dto.request.ChatMessageDTO">
     <selectKey keyProperty="imgId" order="BEFORE" resultType="int">
         SELECT SEQ_IMG_FILES.NEXTVAL FROM DUAL
     </selectKey>
     insert into img_files values(#{imgId}, #{content}, #{msgId}, 1, #{sender})
</insert>

</mapper>