<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.myPage">
	<select id="saleList" parameterType="string" resultType="salevo">
		SELECT *
		FROM SELL_PRODUCT SELL, IMG_FILES IMG
		WHERE SELL.PRODUCT_SEQ =
		IMG.TABLE_PK
		AND SELL.ID = #{USER_ID}
		AND IMG_CATE_SEQ = 2
		AND
		IMG.IMG_SEQ IN (SELECT MIN(IMG_SEQ)
		FROM IMG_FILES
		WHERE IMG_CATE_SEQ =
		2
		GROUP BY TABLE_PK)
	</select>
	<select id="purchaseList" parameterType="string"
		resultType="purchasevo">
		SELECT *
		FROM DEAL_HISTORY dh, SELL_PRODUCT sp, IMG_FILES
		img
		where dh.SELL_SEQ = sp.PRODUCT_SEQ
		AND sp.PRODUCT_SEQ = img.TABLE_PK
		AND img.IMG_CATE_SEQ = 2
		AND BUYER_ID = #{USER_ID}
		AND IMG.IMG_SEQ IN
		(SELECT MIN(IMG_SEQ)
		FROM IMG_FILES
		WHERE IMG_CATE_SEQ = 2
		GROUP BY TABLE_PK)
	</select>
	<select id="jjimList" parameterType="string" resultType="jjimvo">
		SELECT *
		FROM JJIM j, SELL_PRODUCT sp, IMG_FILES img
		where j.PRODUCT_SEQ =
		sp.PRODUCT_SEQ
		AND sp.PRODUCT_SEQ = img.TABLE_PK
		AND img.IMG_CATE_SEQ =
		2
		AND j.ID = #{USER_ID}
		AND IMG.IMG_SEQ IN (SELECT MIN(IMG_SEQ)
		FROM IMG_FILES
		WHERE IMG_CATE_SEQ = 2
		GROUP BY TABLE_PK)
	</select>
	<select id="sellerInfo" parameterType="String" resultType="myHeaderDTO">
		SELECT *
  		FROM HH_USER
		WHERE HH_USER.ID = #{USER_ID}
	</select>

</mapper>