<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.myPage">
	<update id="chargePoint" parameterType="map">
		UPDATE HH_USER
		SET
		USER_POINT = #{userPoint}
		WHERE ID = #{userId}
	</update>
	<select id="saleList" parameterType="map" resultType="salevo">
		SELECT *
		FROM SELL_PRODUCT SELL, IMG_FILES IMG
		WHERE SELL.PRODUCT_SEQ =
		IMG.TABLE_PK
		AND SELL.ID = #{userId}
		AND IMG_CATE_SEQ = 2

		<if test="status!='all'">
			AND SELL.PRO_STATUS = #{status}
		</if>
		<if test="status!='판매보류'">
			AND SELL.PRO_STATUS != '판매보류'
		</if>

		AND IMG.IMG_SEQ IN (SELECT MIN(IMG_SEQ)
		FROM IMG_FILES
		WHERE
		IMG_CATE_SEQ =
		2
		GROUP BY TABLE_PK)
	</select>
	<select id="saleListAuc" parameterType="map"
		resultType="com.shinhan.heehee.dto.response.SaleListAucDTO">
		select PRODUCT_SEQ as productSeq,
		AUCTION_TITLE as auctionTitle,
		EXP_TIME as expTime,
		AUC_STATUS as aucStatus,
		AUC_BAN_REASON as accBanReason,
		nvl((SELECT max(bid_price) from auction_history ah where
		ap.PRODUCT_SEQ=ah.auc_prod_seq and ap.AUC_STATUS = '낙찰'),0) as
		aucPrice,
		(SELECT img_name from img_files i
		where ap.PRODUCT_SEQ=i.table_pk and i.img_cate_seq=3 and rownum=1) as
		imgName
		from auc_product ap
		where ap.SELLER_ID = #{userId}
		<if test="status!='all'">
			AND ap.AUC_STATUS = #{status}
		</if>
	</select>
	<select id="saleDetail" parameterType="int"
		resultType="saleDetailvo">
		SELECT *
		FROM SELL_PRODUCT SELL
		JOIN PRODUCT_TYPE TYPE ON
		SELL.SELECT_SEQ = TYPE.PRODUCT_SEQ
		JOIN PRODUCT_CATEGORY CATE ON
		TYPE.PRODUCT_CATE_SEQ =
		CATE.PRODUCT_CATE_SEQ
		JOIN IMG_FILES IMG ON
		SELL.PRODUCT_SEQ = IMG.TABLE_PK
		LEFT OUTER JOIN DEAL_HISTORY DH ON
		SELL.PRODUCT_SEQ = DH.SELL_SEQ
		LEFT OUTER JOIN DELIVERY D ON DH.S_SEQ =
		d.S_SEQ
		LEFT OUTER JOIN DELIVERY_COMPANY DC ON D.D_COMPANY_SEQ =
		DC.D_COMPANY_SEQ
		WHERE IMG.IMG_SEQ IN (
		SELECT MIN(IMG_SEQ)
		FROM
		IMG_FILES
		WHERE
		IMG_CATE_SEQ = 2
		GROUP BY TABLE_PK)
		AND SELL.PRODUCT_SEQ =
		#{proSeq}
	</select>
	<select id="saledetailAuc" parameterType="int"
		resultType="com.shinhan.heehee.dto.response.SaleDetailAucDTO">
		SELECT *
		FROM AUC_PRODUCT ap
		JOIN PRODUCT_TYPE TYPE ON
		ap.AUCTION_SEQ = TYPE.PRODUCT_SEQ
		JOIN
		PRODUCT_CATEGORY CATE ON
		TYPE.PRODUCT_CATE_SEQ = CATE.PRODUCT_CATE_SEQ
		JOIN IMG_FILES IMG ON
		ap.PRODUCT_SEQ = IMG.TABLE_PK
		LEFT OUTER JOIN
		DEAL_HISTORY DH ON
		ap.PRODUCT_SEQ = DH.AUC_SEQ
		LEFT OUTER JOIN DELIVERY D ON DH.S_SEQ =
		d.S_SEQ
		LEFT OUTER JOIN
		DELIVERY_COMPANY DC ON D.D_COMPANY_SEQ =
		DC.D_COMPANY_SEQ
		WHERE
		IMG.IMG_SEQ IN (
		SELECT MIN(IMG_SEQ)
		FROM
		IMG_FILES
		WHERE
		IMG_CATE_SEQ = 3
		GROUP BY TABLE_PK)
		AND ap.PRODUCT_SEQ = #{proSeq}
	</select>
	<delete id="proStatusDelete"
		parameterType="com.shinhan.heehee.dto.request.ProdDetailDTO">
		DELETE FROM SELL_PRODUCT
		WHERE PRODUCT_SEQ =
		#{productSeq}
	</delete>
	<update id="updateStatus" parameterType="map">
		UPDATE SELL_PRODUCT
		<set>
			<if test="proStatus == '판매중'">
				PRO_STATUS = '판매보류'
			</if>
			<if test="proStatus == '판매보류'">
				PRO_STATUS = '판매중'
			</if>
		</set>
		WHERE PRODUCT_SEQ = #{productSeq}
	</update>
	<insert id="insertDelivery" parameterType="deliveryvo">
		<selectKey keyProperty="dSeq" order="BEFORE"
			resultType="int">
			SELECT DELIVERY_SEQ.nextval FROM DUAL
		</selectKey>
		INSERT INTO DELIVERY
		VALUES (#{dSeq}, #{dCompanySeq}, #{dNumber},
		'발송완료', #{sSeq})
	</insert>
	<update id="updateSCheck" parameterType="int">
		UPDATE DEAL_HISTORY
		SET
		S_CHECK = SYSDATE
		WHERE SELL_SEQ = #{proSeq}
	</update>
	<update id="updatePCheck" parameterType="int"> UPDATE DEAL_HISTORY
		SET
		P_CHECK = SYSDATE WHERE SELL_SEQ = #{proSeq}
	</update>
	<select id="dcOption" resultType="dcvo">
		SELECT * FROM DELIVERY_COMPANY
	</select>
	<select id="purchaseList" parameterType="string"
		resultType="purchasevo">
		SELECT *
		FROM DEAL_HISTORY dh, SELL_PRODUCT sp, IMG_FILES
		img
		where dh.SELL_SEQ = sp.PRODUCT_SEQ
		AND sp.PRODUCT_SEQ = img.TABLE_PK
		AND img.IMG_CATE_SEQ = 2
		AND BUYER_ID = #{userId}
		AND IMG.IMG_SEQ IN
		(SELECT MIN(IMG_SEQ)
		FROM IMG_FILES
		WHERE IMG_CATE_SEQ = 2
		GROUP BY
		TABLE_PK)
	</select>
	<select id="purchaselistAuc" parameterType="string"
		resultType="com.shinhan.heehee.dto.response.SaleListAucDTO">
		SELECT *
		FROM DEAL_HISTORY dh, AUC_PRODUCT ap, IMG_FILES img
		where dh.AUC_SEQ
		= ap.PRODUCT_SEQ
		AND ap.PRODUCT_SEQ = img.TABLE_PK
		AND
		img.IMG_CATE_SEQ
		= 3
		AND BUYER_ID = #{userId}
		AND IMG.IMG_SEQ IN
		(SELECT
		MIN(IMG_SEQ)
		FROM
		IMG_FILES
		WHERE IMG_CATE_SEQ = 3
		GROUP BY
		TABLE_PK)
	</select>

	<select id="jjimList" parameterType="string" resultType="jjimvo">
		SELECT *
		FROM JJIM j, SELL_PRODUCT sp, IMG_FILES img
		where j.PRODUCT_SEQ =
		sp.PRODUCT_SEQ
		AND sp.PRODUCT_SEQ = img.TABLE_PK
		AND img.IMG_CATE_SEQ =
		2
		AND j.ID = #{USER_ID}
		AND IMG.IMG_SEQ IN (SELECT MIN(IMG_SEQ)
		FROM
		IMG_FILES
		WHERE IMG_CATE_SEQ = 2
		GROUP BY TABLE_PK)
	</select>
	<delete id="deleteJjim" parameterType="java.util.List">
		DELETE FROM JJIM
		WHERE PRODUCT_SEQ IN
		<foreach collection="list" item="proSeq" open="("
			separator="," close=")">
			#{proSeq}
		</foreach>
		AND ID = #{userId}
	</delete>
	<select id="sellerInfo" parameterType="String"
		resultType="myHeaderDTO">
		SELECT HH_USER.*, ROUND(SYSDATE - CREATE_DATE) AS CREATE_DIFF
		FROM HH_USER
		WHERE ID = #{id}
	</select>
	<select id="bankList"
		resultType="com.shinhan.heehee.dto.response.BankKindDTO">
		SELECT *
		FROM BANK_KIND
	</select>
	<select id="profile" parameterType="String"
		resultType="profilevo">
		SELECT *
		FROM HH_USER hu
		LEFT OUTER JOIN BANK_KIND bk ON
		hu.BANK_SEQ = bk.BANK_SEQ WHERE hu.ID =
		#{userId}
	</select>
	<update id="editProfile" parameterType="map">
		UPDATE HH_USER
		SET
		PROFILE_IMG = #{profileImg},
		NICK_NAME = #{nickName},
		USER_INTRODUCE =
		#{userIntroduce},
		MODIFY_DATE = SYSDATE
		WHERE ID = #{id}
	</update>
	<select id="dupNickCheck" parameterType="String"
		resultType="int">
		SELECT COUNT(*)
		FROM HH_USER
		WHERE NICK_NAME = #{nickName}
	</select>
	<update id="updateAcc" parameterType="map">
		UPDATE HH_USER
		SET
		BANK_SEQ =
		#{bankSeq},
		ACCOUNT_NUM = #{accountNum},
		MODIFY_DATE = SYSDATE
		WHERE ID =
		#{id}
	</update>
	<update id="updatePhone" parameterType="map">
		UPDATE HH_USER
		SET
		PHONE_NUM = #{phone}
		WHERE ID = #{userId}
	</update>
	<update id="updateAddress" parameterType="map">
		UPDATE HH_USER
		SET
		ADDRESS = #{address},
		DETAIL_ADDRESS = #{detailAddress}
		WHERE ID =
		#{userId}
	</update>
	<delete id="deleteUser" parameterType="string">
		DELETE FROM HH_USER WHERE
		ID = #{userId}
	</delete>
	<update id="deleteAucId" parameterType="string">
		UPDATE AUC_PRODUCT
		SET
		SELLER_ID = ''
		WHERE SELLER_ID =
		#{userId}
	</update>
	<update id="deleteId" parameterType="string">
		UPDATE SELL_PRODUCT
		SET ID =
		NULL
		WHERE ID = #{userId}
	</update>
	<update id="deleteChatBySeller" parameterType="string">
		UPDATE CHAT_ROOM
		SET SELLER = NULL
		WHERE SELLER = #{userId}
	</update>
	<update id="deleteChatByBuyer" parameterType="string">
		UPDATE CHAT_ROOM
		SET BUYER = NULL
		WHERE BUYER = #{userId}
	</update>
	<select id="qnaOption" resultType="qnavo">
		SELECT * FROM QNA_OPTION
	</select>
	<select id="faqOption" parameterType="int" resultType="faqvo">
		SELECT *
		FROM QNA_OPTION qo ,FAQ_BOARD fb
		WHERE qo.SEQ_QNA_OPTION =
		fb.OPTION_SEQ
		<if test="option!=0">
			AND OPTION_SEQ = #{option}
		</if>
	</select>
	<select id="myQna" parameterType="String" resultType="qnavo">
		SELECT *
		FROM QNA_OPTION qo
		JOIN QNA_BOARD qb ON qo.SEQ_QNA_OPTION =
		qb.SEQ_QNA_OPTION
		WHERE qb.ID = #{USER_ID}
		ORDER BY qb.SEQ_QNA_BNO
	</select>
	<select id="myQnaImg" parameterType="map" resultType="qnaImgvo">
		SELECT *
		FROM IMG_FILES
		WHERE ID = #{userId}
		AND IMG_CATE_SEQ = 4
		AND TABLE_PK =
		#{seqQnaBno}
	</select>
	<delete id="deleteQna" parameterType="int">
		DELETE FROM QNA_BOARD
		WHERE
		seq_qna_bno = #{seqQnaBno}
	</delete>
	<delete id="deleteQnaImg" parameterType="int">
		DELETE FROM IMG_FILES
		WHERE img_cate_seq = 4
		AND table_pk = #{seqQnaBno}
	</delete>
	<insert id="insertQna" parameterType="insertQnavo">
		<selectKey keyProperty="seqQnaBno" order="BEFORE"
			resultType="int">
			SELECT SEQ_QNA_BNO.nextval FROM dual
		</selectKey>
		INSERT INTO QNA_BOARD VALUES (#{seqQnaBno}, #{id}, #{qnaTitle},
		#{qnaContent},null,SYSDATE,#{seqQnaOption})

	</insert>
	<insert id="insertQnaImg" parameterType="insertQnaImgvo"> INSERT INTO
		IMG_FILES
		VALUES(SEQ_IMG_FILES.nextval, #{imgName}, #{tablePk}, 4, #{id})
	</insert>
	<select id="searchDeal" parameterType="String">
		SELECT * FROM DEAL_HISTORY
		WHERE #{id}
	</select>
	<select id="searchPoint" parameterType="map"
		resultType="com.shinhan.heehee.dto.response.PointListDTO">

		SELECT PAY_DATE, AMOUNT
		FROM PAY_HISTORY
		WHERE
		TO_CHAR(PAY_DATE, 'YYYY') = #{YEAR}
		AND TO_CHAR(PAY_DATE, 'MM') =
		#{MONTH}
		AND BUYER_ID = #{userId}
		AND AUC_SEQ IS NULL
		AND SELL_SEQ IS
		NULL

		ORDER BY PAY_DATE
	</select>
	<update id="updatePw" parameterType="map">
		UPDATE HH_USER
		SET
		PW = #{pw}
		WHERE ID = #{userId}
	</update>
	<update id="updateFirstDstatus">
		UPDATE DELIVERY
		SET D_STATUS = '배송중'
		WHERE D_SEQ IN (
		SELECT D_SEQ
		FROM DELIVERY d
		WHERE D_STATUS = '발송완료')
	</update>

	<update id="updateSecondDstatus">
		UPDATE DELIVERY
		SET D_STATUS = '배송중'
		WHERE D_SEQ IN (
		SELECT D_SEQ
		FROM DELIVERY d
		WHERE D_STATUS = '발송완료')
	</update>
</mapper>