<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.myPage">
	<select id="saleList" parameterType="map" resultType="salevo">
		SELECT *
		FROM SELL_PRODUCT SELL, IMG_FILES IMG
		WHERE SELL.PRODUCT_SEQ =
		IMG.TABLE_PK
		AND SELL.ID = #{userId}
		AND IMG_CATE_SEQ = 2

		<if test="status!='all'">
			AND SELL.PRO_STATUS = #{status}
		</if>
		AND IMG.IMG_SEQ IN (SELECT MIN(IMG_SEQ)
		FROM IMG_FILES
		WHERE
		IMG_CATE_SEQ =
		2
		GROUP BY TABLE_PK)
	</select>
	<select id="saleDetail" parameterType="int" resultType="saleDetailvo">
		SELECT *
		FROM SELL_PRODUCT SELL, IMG_FILES IMG, DEAL_HISTORY dh 
		WHERE SELL.PRODUCT_SEQ = IMG.TABLE_PK
		AND SELL.PRODUCT_SEQ = dh.SELL_SEQ
		AND IMG_CATE_SEQ = 2
		AND SELL.PRODUCT_SEQ = #{proSeq}
		AND IMG.IMG_SEQ IN (SELECT MIN(IMG_SEQ)
							FROM IMG_FILES
							WHERE IMG_CATE_SEQ = 2
							GROUP BY TABLE_PK)
	</select>
	<select id="dcOption" resultType="dcvo">
		SELECT * FROM DELIVERY_COMPANY
	</select>
	<select id="purchaseList" parameterType="string"
		resultType="purchasevo">
		SELECT *
		FROM DEAL_HISTORY dh, SELL_PRODUCT sp, IMG_FILES
		img
		where dh.SELL_SEQ = sp.PRODUCT_SEQ
		AND sp.PRODUCT_SEQ = img.TABLE_PK
		AND img.IMG_CATE_SEQ = 2
		AND BUYER_ID = #{USER_ID}
		AND IMG.IMG_SEQ IN
		(SELECT MIN(IMG_SEQ)
		FROM IMG_FILES
		WHERE IMG_CATE_SEQ = 2
		GROUP BY
		TABLE_PK)
	</select>
	<select id="jjimList" parameterType="string" resultType="jjimvo">
		SELECT *
		FROM JJIM j, SELL_PRODUCT sp, IMG_FILES img
		where j.PRODUCT_SEQ =
		sp.PRODUCT_SEQ
		AND sp.PRODUCT_SEQ = img.TABLE_PK
		AND img.IMG_CATE_SEQ =
		2
		AND j.ID = #{USER_ID}
		AND IMG.IMG_SEQ IN (SELECT MIN(IMG_SEQ)
		FROM
		IMG_FILES
		WHERE IMG_CATE_SEQ = 2
		GROUP BY TABLE_PK)
	</select>
	<select id="sellerInfo" parameterType="String"
		resultType="myHeaderDTO">
		SELECT *
		FROM HH_USER
		WHERE HH_USER.ID = #{USER_ID}
	</select>
	<select id="profile" parameterType="String" resultType="profilevo">
		SELECT *
		FROM HH_USER
		WHERE HH_USER.ID = #{USER_ID}
	</select>
	<update id="userIntroduce" parameterType="map">
		UPDATE HH_USER
		SET
		USER_INTRODUCE = #{introduce}
		WHERE ID = #{userId}
	</update>


	<select id="qnaOption" resultType="qnavo">
		SELECT * FROM QNA_OPTION
	</select>
	<select id="faqOption" parameterType="int" resultType="faqvo">
		SELECT *
		FROM QNA_OPTION qo ,FAQ_BOARD fb
		WHERE qo.SEQ_QNA_OPTION =
		fb.OPTION_SEQ
		<if test="option!=0">
			AND OPTION_SEQ = #{option}
		</if>
	</select>
	<select id="myQna" parameterType="String" resultType="qnavo">
		SELECT *
		FROM QNA_OPTION qo
		JOIN QNA_BOARD qb ON qo.SEQ_QNA_OPTION =
		qb.SEQ_QNA_OPTION
		WHERE qb.ID = #{USER_ID}
		ORDER BY qb.SEQ_QNA_BNO
	</select>
	<select id="myQnaImg" parameterType="map" resultType="qnaImgvo">
		SELECT *
		FROM IMG_FILES
		WHERE ID = #{userId}
		AND IMG_CATE_SEQ = 4
		AND TABLE_PK =
		#{seqQnaBno}
	</select>
	<delete id="deleteQna" parameterType="int">
		DELETE FROM QNA_BOARD
		WHERE
		seq_qna_bno = #{seqQnaBno}
	</delete>
	<delete id="deleteQnaImg" parameterType="int">
		DELETE FROM IMG_FILES
		WHERE img_cate_seq = 4
		AND table_pk = #{seqQnaBno}
	</delete>
	<insert id="insertQna" parameterType="insertQnavo">
		INSERT INTO QNA_BOARD
		VALUES (SEQ_QNA_BNO.nextval, #{ID}, #{QNA_TITLE}, #{QNA_CONTENT},
		#{QNA_FILE}, null, SYSDATE, #{SEQ_QNA_OPTION})
	</insert>
	<insert id="insertQnaImg" parameterType="insertQnaImgvo">
		INSERT INTO IMG_FILES
		VALUES(SEQ_IMG_FILES.nextval, #{imgName}, #{tablePk}, 4, #{ID})
	</insert>
</mapper>