<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.saleList">
	<select id="saleList" parameterType="string" resultType="com.shinhan.heehee.dto.response.SellProDTO">
		SELECT ARTICLE_TITLE,PRODUCT_PRICE FROM SELL_PRODUCT WHERE "ID" = #{USER_ID}
	</select>
	<select id="productImg" parameterType="string" resultType="com.shinhan.heehee.dto.response.SellProDTO">
		SELECT IMG.IMG_NAME
		FROM IMG_FILES IMG
		WHERE IMG.ID = #{USER_ID}
	</select>
</mapper>