<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.heehee.user">

	<select id="findUserByUsername" parameterType="string" resultType="com.shinhan.heehee.dto.response.UserDTO">
        SELECT ID username, NAME username, PW password, ROLE role
        FROM HH_USER
        WHERE ID = #{username}
    </select>

    <select id="findByUserId" parameterType="string" resultType="com.shinhan.heehee.dto.response.UserDTO">
        SELECT ID user_id, NAME username, PW password, ROLE role
        FROM HH_USER
        WHERE ID = #{userId}
    </select>
    
    <select id="findByUserEmail" parameterType="string" resultType="com.shinhan.heehee.dto.response.UserDTO">
        SELECT ID user_id, NAME username, PW password, ROLE role
        FROM HH_USER
        WHERE EMAIL = #{email}
    </select>
    
    <select id="findNickName" parameterType="string" resultType="map">
        SELECT NVL(NICK_NAME, '손님') AS nickName
        FROM HH_USER
        WHERE ID = #{userId}
    </select>
    
    <insert id="signup" parameterType="com.shinhan.heehee.dto.response.UserDTO">
        INSERT INTO HH_USER (ID, PW, NAME, EMAIL, PHONE_NUM, ROLE)
        VALUES ( #{username}, #{password}, #{realName}, #{email}, #{phone_num}, 'ROLE_USER' )
    </insert>
    
    <select id="getBuyerInfo" parameterType="String" resultType="com.shinhan.heehee.dto.response.UserDTO">
    	SELECT *
    	FROM HH_USER
    	WHERE ID = #{buyerId}
    </select>
    
    <select id="dupIdCheck" parameterType="String" resultType="int">
    	SELECT COUNT(*) FROM HH_USER WHERE ID = #{id}
    </select>
    
    <select id="dupNickCheck" parameterType="String" resultType="int">
    	SELECT COUNT(*) FROM HH_USER WHERE NICK_NAME = #{nickName}
    </select>
    
    <select id="dupEmailCheck" parameterType="String" resultType="int">
    	SELECT COUNT(*) FROM HH_USER WHERE EMAIL = #{email}
    </select>
    
    <select id="banCheck" parameterType="String" resultType="com.shinhan.heehee.dto.request.BanUserDTO">
		SELECT BAN_CONTENT,
					TO_CHAR(BAN_STR, 'YY/MM/DD') AS startDay,
					TO_CHAR(BAN_END, 'YY/MM/DD') AS endDay
		FROM HH_USER H, BAN_HISTORY B
		WHERE H.ID = B.ID
					AND B.ID = #{userId}
					AND BAN_STR <![CDATA[<=]]> SYSDATE
					AND BAN_END <![CDATA[>=]]> SYSDATE
	</select>
</mapper>