@charset "UTF-8";

/* 관리자 페이지의 HEADER CSS */

input[type=button] {
	cursor: pointer;
}

button {
	cursor: pointer;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SEBANG_Gothic_Bold';
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
    display: none;
}

.home_container {
    height: auto;
    overflow: scroll;
}

.home_container {
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 3;
}

.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 4px 0px;
}

body {
    padding-top: 160px; /* 원본은 200px */
}

/* 로그인, 회원가입 */
.login_container {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.login_menu {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.login_menu div {
    display: inline-block;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.div_line {
    width: 1px;
    height: 16px;
    background-color: rgb(218 222 229);
}

.login_text {
    color: rgb(63, 81, 161);
}

.header_container {
    width: 1280px;
    height: 110px; /* 원본은 150px */
    margin: 0 auto;
    margin-top: 10px;
}

.header_container a {
    color: black;
    text-decoration: none;
}

/* 로고 */
.logo {
    width: 18%;
    height: 90px;
    float: left;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
}