@charset "UTF-8";

/* Font - 공통 , 수정시 통합 수정 */
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Body styles - 공통 , 수정시 통합 수정 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', SEBANG_Gothic_Bold;
	height: 1080px;
}

#bodyContainer {
	display: flex;
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}

#mainMenuContainer {
	width: 1030px;
	padding: 30px;
	margin-left: 250px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 4px 0px;
}

.mainTitle {
	color: rgb(73,73,233);
	font-size: 30px;
}

.searchTitle {
	margin-top: 15px;
}

.searchTitle, .detailTitle {
	color: black;
	font-size: 25px;
	padding-bottom: 5px;
}

.searchContext {
	color: black;
	font-size: 20px;
	}
	
/* main container 중 기간검색 radio버튼에 대한 적용사항 */

#endDate{
	margin-right: 5px;
}

.radioContainer {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.radioContainer input[type="radio"] {
    display: none;
}

.radioContainer label {
    display: block;
    cursor: pointer;
}

.radioContainer input[type="radio"]:checked + label {
    background-color: rgb(73, 73, 233);
    color: white;
    /* border-radius: 5px; */
    /* padding: 5px 10px; */
}

/* redio버튼 적용사항 끝 */

.containerHeadBlock {
	padding: 0px 15px 0px 15px;
	background-color: rgb(171,195,255);
	margin-right: 10px;
}

.radios {
	font-size: 15px;
	}

.commonSmallBtn {
	font-size: 15px;
	font-weight: 400;
	font-family: 'Arial', SEBANG_Gothic_Bold;
	color: white;
	background-color: rgb(73,73,233);
	border: 0px;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}

.questionsBtn, .productDetailBtn {
	font-size: 15px;
	font-weight: 400;
	font-family: 'Arial', SEBANG_Gothic_Bold;
	color: white;
	background-color: rgb(73,73,233);
	border: 0px;
	padding: 5px;
	margin: 5px;
	position: absolute;
	right: 5px;
}

/* 같은 블록에 컨텐츠 배치할때 사용 */
#midContainer {
	display: flex;
	align-items: center;
	margin-bottom: 1px;
	}
	
#btmContainer {
	display: flex;
	align-items: center;
	}


/* Table styles - 공통 , 수정시 통합 수정 */

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

table tbody {
	display: block;
	max-height: 600px;
	overflow-y: scroll;
	width: 100%;
}

table thead, table tbody tr {
	display: table;
	width: 100%;
}

table thead tr th {
	background-color: rgb(171,195,255);
	padding: 5px 5px 5px 5px;
	border: 1px solid rgb(233, 233, 233);
	font-size: 14px;

}

table tbody tr td {
	padding: 5px 5px 5px 5px;
	border: 1px solid rgb(233, 233, 233);
	word-wrap: break-word;
	font-size:13px;
}

/* table 하위 수정시 메뉴 css */

.updateContainer {
    display: inline-block;
	margin: 2.5px 5px 2.5px 5px;
}

.editRow {
    background-color: rgb(171,195,255);
    padding-bottom: 30px;
}

.newRow {
    background-color: rgb(171,195,255);
}

.productUpdate {
    font-weight: bold;
    font-size: 15px;
}

.saveEditButton {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.saveNewButton {
	padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.saveEditButton:hover {
	background-color: #45a049;
}

.saveNewButton:hover {
	background-color: #45a049;
}

.singleInput {
	width: 730px;
}

.doubleInputSmall {
	width: 150px;
}

.doubleInputBigger {
	width: 600px;
	
}

/* 공용영역 끝 */
/* 페이지별 영역 시작 */

/* main.jsp */

#totalOrderCol table th {
	padding-left: 20px;
	padding-right: 20px;
}

#mainTitleContainer {
	display: flex;
	justify-content: flex-start;
	position: relative;
	border-bottom: 3px solid rgb(233, 233, 233);
	margin:20px 0px 5px 0px;
}

#mainTitleContainerTop {
	display: flex;
	justify-content: flex-start;
	position: relative;
	border-bottom: 3px solid rgb(233, 233, 233);
	margin:0px 0px 5px 0px;
}

/* main.jsp 끝 */

/* user.jsp */

#searchContainer {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
}
	/* 회원명 */
.userTable table thead tr th:nth-child(1),
.userTable table tbody tr td:nth-child(1) {
	width: 6%;
	text-align: center;
	
}
	/* 아이디 */
.userTable table thead tr th:nth-child(2),
.userTable table tbody tr td:nth-child(2) {
	width: 13%;
	text-align: center;
}
	/* 이메일 */
.userTable table thead tr th:nth-child(3),
.userTable table tbody tr td:nth-child(3) {
	width: 20%;
}
	/* 전화번호 */
.userTable table thead tr th:nth-child(4),
.userTable table tbody tr td:nth-child(4) {
	width: 13%;
	text-align: center;
}
	/* 주소 */
.userTable table thead tr th:nth-child(5),
.userTable table tbody tr td:nth-child(5) {
	width: 38%;
}
	/* 가입입 */
.userTable table thead tr th:nth-child(6),
.userTable table tbody tr td:nth-child(6) {
	width: 10%;
	text-align: center;
}

/* user.jsp 끝 */

/* user-ban.jsp */

	/* 선택 */
.userBanTable table thead tr th:nth-child(1),
.userBanTable table tbody tr td:nth-child(1) {
	width: 4%;
}
	/* 상태 */
.userBanTable table thead tr th:nth-child(2),
.userBanTable table tbody tr td:nth-child(2) {
	width: 4%;
	text-align: center;
}
	/* 회원명 */
.userBanTable table thead tr th:nth-child(3),
.userBanTable table tbody tr td:nth-child(3) {
	width: 6%;
	text-align: center;
}
	/* 아이디 */
.userBanTable table thead tr th:nth-child(4),
.userBanTable table tbody tr td:nth-child(4) {
	width: 13%;
}
	/* 정지내용 */
.userBanTable table thead tr th:nth-child(5),
.userBanTable table tbody tr td:nth-child(5) {
	width: 53%;
}
	/* 시작일 */
.userBanTable table thead tr th:nth-child(6),
.userBanTable table tbody tr td:nth-child(6) {
	width: 10%;
	text-align: center;
}
	/* 종료일 */
.userBanTable table thead tr th:nth-child(7),
.userBanTable table tbody tr td:nth-child(7) {
	width: 10%;
	text-align: center;
}

.userbanInput {
	width:500px;
}

/* user-ban.jsp 끝 */

/* product.jsp, auction.jsp */

	/* 선택 */
.productInfoTable table thead tr th:nth-child(1),
.productInfoTable table tbody tr td:nth-child(1) {
	width: 4%;
}
	/* 등록번호 */
.productInfoTable table thead tr th:nth-child(2),
.productInfoTable table tbody tr td:nth-child(2) {
	width: 7%;
	text-align: center;
}
	/* 카테고리 */
.productInfoTable table thead tr th:nth-child(3),
.productInfoTable table tbody tr td:nth-child(3) {
	width: 7%;
}
	/* 세부 카테고리 */
.productInfoTable table thead tr th:nth-child(4),
.productInfoTable table tbody tr td:nth-child(4) {
	width: 10%;
}
	/* 아이디 */
.productInfoTable table thead tr th:nth-child(5),
.productInfoTable table tbody tr td:nth-child(5) {
	width: 13%;
}
	/* 제목 */
.productInfoTable table thead tr th:nth-child(6),
.productInfoTable table tbody tr td:nth-child(6) {
	width: 41%;
}
	/* 게시일 */
.productInfoTable table thead tr th:nth-child(7),
.productInfoTable table tbody tr td:nth-child(7) {
	width: 10%;
	text-align: center;
}
	/* 상태 */
.productInfoTable table thead tr th:nth-child(8),
.productInfoTable table tbody tr td:nth-child(8) {
	width: 8%;
	text-align: center;
}

/* product.jsp, auction.jsp 끝 */

/* category.jsp */
.categoryTable table {
	width: 50%;
}
	/* 선택 */
.categoryTable table thead tr th:nth-child(1),
.categoryTable table tbody tr td:nth-child(1) {
	width: 8%;
}
	/* 번호 */
.categoryTable table thead tr th:nth-child(2),
.categoryTable table tbody tr td:nth-child(2) {
	width: 14%;
	text-align: center;
}
	/* 카테고리 */
.categoryTable table thead tr th:nth-child(3),
.categoryTable table tbody tr td:nth-child(3) {
	width: 34%;
}
	/* 세부 카테고리 */
.categoryTable table thead tr th:nth-child(4),
.categoryTable table tbody tr td:nth-child(4) {
	width: 44%;
}

	/* 카테고리 수정, 신규등록 Input */
.categoryInputSmall {
	width: 100px;
	margin-left: 5px;
	align-items: center;
	
}
.categoryInputBigger {
	width: 200px;
    margin-right: 5px;
    align-items: center;
}


/* category.jsp 끝 */

/* qnaManager.jsp */

	/* 선택 */
.qnaTable table thead tr th:nth-child(1),
.qnaTable table tbody tr td:nth-child(1) {
	width: 4%;
}
	/* 번호 */
.qnaTable table thead tr th:nth-child(2),
.qnaTable table tbody tr td:nth-child(2) {
	width: 7%;
	text-align: center;
}
	/* 유형 */
.qnaTable table thead tr th:nth-child(3),
.qnaTable table tbody tr td:nth-child(3) {
	width: 14%;
}
	/* 제목 */
.qnaTable table thead tr th:nth-child(4),
.qnaTable table tbody tr td:nth-child(4) {
	width: 52%;
}
	/* 아이디 */
.qnaTable table thead tr th:nth-child(5),
.qnaTable table tbody tr td:nth-child(5) {
	width: 13%;
}
	/* 작성일 */
.qnaTable table thead tr th:nth-child(6),
.qnaTable table tbody tr td:nth-child(6) {
	width: 10%;
	text-align: center;
}

.qnaContent:before {
	cursor: pointer;
}

.qnaContent:after {
	 
}

.qnaContentText {
	width: 930px;
}

.qnaContentContainer {
	margin-top: 20px;
	display:inline-block;
	
}

/* qnaManager.jsp 끝 */

/* faqManager.jsp */

	/* 선택 */
.faqTable table thead tr th:nth-child(1),
.faqTable table tbody tr td:nth-child(1) {
	width: 4%;
}
	/* 번호 */
.faqTable table thead tr th:nth-child(2),
.faqTable table tbody tr td:nth-child(2) {
	width: 7%;
	text-align: center;
}
	/* 유형 */
.faqTable table thead tr th:nth-child(3),
.faqTable table tbody tr td:nth-child(3) {
	width: 14%;
}
	/* 제목 */
.faqTable table thead tr th:nth-child(4),
.faqTable table tbody tr td:nth-child(4) {
	width: 52%;
}
	/* 아이디 */
.faqTable table thead tr th:nth-child(5),
.faqTable table tbody tr td:nth-child(5) {
	width: 13%;
}
	/* 작성일 */
.faqTable table thead tr th:nth-child(6),
.faqTable table tbody tr td:nth-child(6) {
	width: 10%;
	text-align: center;
}

/* faqManager.jsp 끝 */

/* questiomManager.jsp */

	/* 선택 */
.qnaManagerTable table thead tr th:nth-child(1),
.qnaManagerTable table tbody tr td:nth-child(1) {
	width: 4%;
}
	/* 번호 */
.qnaManagerTable table thead tr th:nth-child(2),
.qnaManagerTable table tbody tr td:nth-child(2) {
	width: 7%;
	text-align: center;
}
	/* 유형 */
.qnaManagerTable table thead tr th:nth-child(3),
.qnaManagerTable table tbody tr td:nth-child(3) {
	width: 17%;
}
	/* 내용 */
.qnaManagerTable table thead tr th:nth-child(4),
.qnaManagerTable table tbody tr td:nth-child(4) {
	width: 72%;
}

/* questiomManager.jsp 끝 */