@charset "UTF-8";

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* side mednu 관련 */

#sideMenuContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 4px 0px;
}

#sideMenuContainer ul {
	margin-left: 15px;
    width: 100%;
    position: relative;
}

#sideMenuContainer ul li {
	font-size: 25px;
}

#sideMenuContainer li {
    margin: 20px 0;
    list-style: none;
    font-size: 20px;
}

#sideMenuContainer li a {
    text-decoration: none;
    color: black;
}

/* #sideMenuContainer li a:hover {
    background-color: lightgray;
} */

.dropdown > a {
    cursor: pointer;
}

.submenu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.submenu li a {
    font-size: 22px;
}


